.menuContainer{
    display:flex;
    flex-direction:row;
    width:100%;
}

.panelIzquierdo{
    background-image:url('https://i.ibb.co/85Qffjw/mesa-madera-fondo-cafeteria-desenfoque-o-interior-restaurante-7188-794.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.carousel .carousel-slider .center{
    width: 100%;
}

.menuitem {
    background-size:contain;
    background-position: center center;
    background-repeat:no-repeat;
}

.panelDerecho{
    background-color: #495158;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

#categoria{
    color: white;
    font-size:24px;
}

#descripcion{
    font-size:20px;
    color: white;
    height: 30%;
    background-color:rgb(54, 49, 49);
}

#precio{
    font-size:28px;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;;
}

label{
    font-size:16px;
    margin:0;
}

#disponible{
    font-size:30px;
    color: #49EB37;
    margin: 0;
}

#agregar{
    color: rgb(0, 0, 0);
    height: 50px;
    background-color: #49EB37;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    justify-content: center;
    transition:background_color 0.4s;
}

#agregar:hover{
    background-color: #41ad35;
    margin-top: 3px;
}

#agregar:active{
    background-color:#24531e;
    color: white;
}

@media screen and (max-width: 480px) {
    .panelIzquierdo{
        width: 60%;
    }
    .panelDerecho{
        width:40%;
    }
    #categoria{
        font-size: 12px;
    }
}