.fondoComida{
    background: url('https://i.ibb.co/8XwhfTF/fondocomida.jpg');
    height: 737px;
}

.btnRemover{
    padding: 5%;
}
.bordes{
    padding-left: 5%;
    padding-right: 5%;
}
.fondoNegro{
    background-color: black;
    
}
.datosFactura{
    background-color: #414346;
    
}
.factura{
    background-color: rgb(191, 202, 217);
    
}
.elementoLista{
    text-align: center;
    background-color: rgba(191, 202, 217, 0.2);
    
}
.collection-item{
    padding: 2%;
    transition: background-color 0.5s, padding 0.2s;
}
.collection-item:hover{
    background-color: rgba(191, 202, 217, 1);
    cursor: pointer;
}
.avisoForm{
    padding: 5%;
    margin: 5%;
    border: solid 1px red;
}
.btnComprar{
    margin-bottom: 3%;
    background-color: rgb(53, 192, 106);
}
.container-pequeño{
    margin: 5%;

}

.input-field input:focus + label {
    color: #f28705 !important;
  }
  /* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #f28705 !important;
    box-shadow: 0 1px 0 0 #f28705 !important
}
.input-field .prefix.active {
    color: #f28705;
  }
.formularioFactura row{
    position: relative;
    padding: 3%;
}