footer{
    background-color: #a67244 !important;
}

.page-footer{
    padding-top: 0px !important;
}
.col{
    text-align: center;
}
.logoCC{
    border-radius: 25%;
    transition: all 0.5s;
}
.logoCC:hover{
    border: 3px solid #414346;
    cursor: pointer;
}
.footer-copyright{
    background: rgb(115,67,39);
    background: linear-gradient(0deg, rgba(115,67,39,1) 0%, rgba(0,0,0,1) 100%);
}
