.fondoGG{
    background: url('https://i.ibb.co/Xkh8m0M/fondo.jpg');
    padding-top: 20px;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
}
.imagenEnMedio{
    border-radius: 30%;
    width: 30%;
    height: auto;
}
h2.texto{
    color: white;
    padding-bottom: 25px;
    font-family: "Segoe Print";
}
#primary{
    background-color: #000000;
}
.cafecito{
    background: rgb(115,67,39);
    background: radial-gradient(circle, rgba(115,67,39,1) 36%, rgba(115,67,39,1) 61%, rgba(0,0,0,1) 93%);
}
/*
.logoFb{
    
    background: url('https://i.ibb.co/YQPmVqY/facebook-sketched-logo-variant.png');
    padding: 5%;
    
    background-repeat: no-repeat;
    background-color: rgb(9, 94, 221);
    width: 100%;
    color: black;
    height: 80px;
    background-size: 80px 100%;
    transition: all 0.3s ;
}
.logoFb:hover{
    
    border: 3px solid #bfcad9;
}
.logoIg{
    
    background: url('https://i.ibb.co/sHNmDD2/instagram-sketched-logo.png');
    padding: 5%;
    
    background-repeat: no-repeat;
    background-color: rgb(237, 131, 246);
    width: 100%;
    color: black;
    height: 80px;
    background-size: 80px 100%;
    transition: all 0.3s ;
}
.logoIg:hover{
    
    border: 3px solid #bfcad9;
}
.logoTw{
    
    background: url('https://i.ibb.co/3pB0N3v/twitter-sketched-logo-outline.png');
    padding: 5%;
    
    background-repeat: no-repeat;
    background-color: rgb(118, 201, 226);
    width: 100%;
    color: black;
    height: 80px;
    background-size: 80px 100%;
    transition: all 0.1s ;
}
.logoTw:hover{
    
    border: 3px solid #bfcad9;
}*/

#redesContainer{
    position: absolute;
    display:flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;
}

.tituloConImagen{
    color: white;
    background: url('https://i.ibb.co/JKhxTM7/footer.png');
    height: 500px;
    background-size: 100% 100%;
}
.black{
    padding-top: 10%;
}

