.imgCardInicio{
    height: 200px !important;
    width: auto !important;
}
.card-producto{
    background-color: #734327;
    color: #ebf2f2;
    transition: color 0.5s,background-color 0.5s ;
}
.card-producto:hover{
    color: #734327;
    background-color: #ebf2f2;
}