.listaBuzon{
    margin-left: 5%;
}
.marcarCorreo input{
    width: 100px;
    height: 100px;
}

.contenidoMensaje{
    text-align: justify !important;
}
li.cafecito{
    background-color: #734327;
    color: #ebf2f2;
}